# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE Files
*.swp
*.idea/

# Latex files
report/project.aux
report/project.bbl
report/project.blg
report/project.log

# Data files that are too large
data/gplus_combined.txt
data/twitter_combined.txt
graphs/facebook.svg
